!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Obst-Gebringsel
    = stylesheet_tag "application"
    = javascript_tag "application"
  %body
    .content.pure-g-r
      .splash.pure-u-1
        .pure-g-r
          .pure-u-1-3
            .l-box.splash-image
              %a.fancybox{href: image_path("large/full.png")}
                %img{src: image_path("large/title.png")}/
          .pure-u-2-3
            .l-box.splash-text
              %h1.splash-head
                Obstgebringsel
              %h2.splash-subhead
                Frische Früchte frei Haus in Ihre Firma
              %h2.splash-subhead
                So gut und gesund könnte auch Ihre Woche immer anfangen, denn
                wir beliefern Münchner Firmen wöchentlich mit unseren gesunden
                Obstgebringsel-Kisterln und -Körben.

      .pure-g
        .pure-u-1-5
          %img{class: "pure-img", src: image_path("thumb/obstkiste_05.jpg")}/
        .pure-u-1-5
          %img{class: "pure-img", src: image_path("thumb/obstkiste_06.jpg")}/
        .pure-u-1-5
          %img{class: "pure-img", src: image_path("thumb/obstkiste_07.jpg")}/
        .pure-u-1-5
          %img{class: "pure-img", src: image_path("thumb/obstkiste_08.jpg")}/
        .pure-u-1-5
          %img{class: "pure-img", src: image_path("thumb/obstkiste_09.jpg")}/


      .content.pure-u-1
        .pure-g-r.content-ribbon
          .pure-u-2-3
            .l-box
              %h4.content-subhead Von klein bis riesig
              %h3 Für jeden die passende Größe
              %p
                Unsere "Obstgebringsel-Kisterl" gibt es bereits ab 10,- &euro;
                für das "Einfache Kisterl" und bis 25,- &euro; in der "Großen
                Ausführung" für Sie und Ihre Angestellten.
          .pure-u-1-3
            .l-box
              %a.fancybox{href: image_path("large/obstkiste_01.jpg")}
                %img{src: image_path("thumb/obstkiste_01.jpg")}/

        .pure-g-r.content-ribbon
          .pure-u-1-3
            .l-box
              %a.fancybox{href: image_path("large/obstkiste_02.jpg")}
                %img{src: image_path("thumb/obstkiste_02.jpg")}/
          .pure-u-2-3
            .l-box
              %h4.content-subhead Wenn's schön aussehen soll
              %h3 Auf Wunsch auch dekorativ
              %p
                Darüber hinaus bieten wir dekorativ arrangierte Obst-Körbe zum
                Beispiel für den Empfangsbereich, für Sitzungen oder als
                Vitamin-Kick für Ihre Mitarbeiter. Je nach Füllwunsch schon ab
                20,- &euro;.

      .content.pure-u-1
        .pure-g-r.content-ribbon
          .pure-u-2-3
            .l-box
              %h4.content-subhead Ohne Zwang
              %h3 Einfach zum Ausprobieren
              %p
                Bei Interesse haben Sie die Möglichkeit eines der Kisterl oder
                Körbe einmalig als Probelieferung zum 1/2 Preis zu erhalten.
                Diese Probelieferung enthält die saisonal lieferbaren Obstsorten
                und soll Ihnen auch einen Eindruck der Menge und Qualität
                vermitteln. Freuen Sie sich im Sommer auf Beeren, Steinobst, im
                Herbst auf Trauben, Äpfel, Feigen, Birnen und im Winter und
                Frühjahr auf vitaminreiche Clementinen,Orangen usw. Gerne können
                wir Ihr Kisterl auch mit "Knabberzeug" wie Cocktailtomaten,
                Paprika, Karotten, Gürkchen, Kohlrabi etc. befüllen.
          .pure-u-1-3
            .l-box
              %a.fancybox{href: image_path("large/obstkiste_06.jpg")}
                %img{src: image_path("thumb/obstkiste_06.jpg")}/

        .pure-g-r.content-ribbon
          .pure-u-1-3
            .l-box
              %a.fancybox{href: image_path("large/obstkiste_04.jpg")}
                %img{src: image_path("thumb/obstkiste_04.jpg")}/
          .pure-u-2-3
            .l-box
              %h4.content-subhead Gleich bestellen
              %h3 Jetzt Kunde werden
              %p
                Testen Sie uns doch einmal ganz unverbindlich und staunen Sie,
                wie gut dieses "Gesunde Extra" bei Ihren Leuten ankommt. Und
                weil`s so gesund ist, können Sie die Aufwendungen als
                gesundheitsfördernde Maßnahme steuerlich geltend machen.

        .pure-g-r
          .pure-u-1
            .l-box.ribbon
              %h2.black
                Rufen Sie uns an: 089 / 99 75 39 39
              %p
              %h2.black
                Gerne bringt Ihnen ein Mitarbeiter Ihre
                Probelieferung und weiteres Infomaterial vorbei.

      .content.pure-u-1
        .pure-g-r.content-ribbon
          .pure-u-1
            .l-box
              %h4.content-subhead Gut zu wissen
              %ul
                %li
                  %strong Bezahlung
                  %p
                    Geschäftskunden zahlen nach monatlicher Rechnungstellung per Überweisung.
                    Alle Preise verstehen sich zuzüglich der gesetzlichen MWSt.
                    Privatkunden und die Kisterl zu 10,- und 13,- können
                    ausschließlich gegen Bar-Rechnung beliefert werden.

                %li
                  %strong Kündigung
                  %p
                    Jederzeit und ohne Angabe von Gründen bitte VOR
                    der nächsten Lieferung per Tel., SMS oder E-Mail.

                %li
                  %strong Wann wird geliefert?
                  %p
                    Wir liefern je nach Wunsch am Mo., Di., Do. und Fr.
                    vormittags wöchentlich, 2-wöchentlich oder monatlich.
                    Mittwoch haben wir Kurzurlaub :)

                %li
                  %strong Änderungen von Lieferungen
                  %p
                    Sie können jederzeit den Lieferrythmus, die
                    Obst-Zusammenstellung und die Art der Kisterl ändern.
                    Ebenso sind Lieferpausen z.B. während des Urlaubs möglich.

                %li
                  %strong Wichtig
                  %p
                    Wir liefern nicht am Gründonnerstag, Ostermontag und am
                    Dienstag danach, ebenso nicht in den bayerischen
                    Pfingstferien, in der Woche um den 15. Aug. und in der Zeit
                    vor Weihnachten bis einschließlich Heilig-Drei-Könige!

                %li
                  %strong Treuebonus
                  %p
                    Als kleines Dankeschön erhalten Sie bei regelmäßiger Bestellung einmalig Ihr 10. Kisterl gratis!

                %li
                  %strong Anschrift
                  %pre
                    = preserve do
                      Obstgebringsel
                      Ulrich Gey
                      Trimburgstrasse 10
                      81249 München

                      Tel. Mobil: 0177 / 714 8888
                      Tel. Festnetz: 089 / 99 75 39 39
                      E-Mail: obstgebringsel@gmx.de
                  %p
                    Bitte besprechen Sie ggf. die Mobilbox oder den
                    Anrufbeantworter. (Bin oft beim Liefern)

                %li
                  %strong Bankverbindung
                  %pre
                    = preserve do
                      Kreissparkasse Mü-Sta-Ebe
                      Konto-Nr.: 108 794 43,
                      BLZ: 702 501 50
                      IBAN: DE07 7025 0150 0010 879 443

                      Steuer-Nr.: 147/138/71061 Finanzamt Mü.II
      .footer.pure-u-1
        Copyright &copy; 2016 Obstgebringsel
